::-webkit-scrollbar {
    display: none;
  }
  
* {
margin: auto;
font-family: 'Oswald', sans-serif;
font-size: 1.5vw;
}

.container {
    margin: auto;
    padding: 0 2vw;
}

.main_container {
    padding: 2vw 5vw;
    margin: 0 5vw;
}

.img_main {
    width: 20vw;
    display: inline-block;
}

.main_info {
    display: inline-block;
}

.cv-blocks {
    background-color: bisque;
}

.block-item {
    padding: 1vw;
    cursor: pointer;
    width: 25vw;
    height: 3vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.switcher-container {
    display: inline-block;
}

.switcher {
    cursor: pointer;
    transition: all 0.5s;
    width: 3vw;
    height: 1vw;
    border-radius: 1vw;
    position: relative;
    display: table-cell;
    border: 0.15vw solid rgb(133, 133, 133);
}

.switcher-ball {
    background-color: rgb(207, 207, 207);
    height: 1.2vw;
    width: 1.2vw;
    border-radius: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.switch-ball-right {
    transform: translateX(1.8vw);
}

.switch-ball-left {
    transform: translateX(0);
}

.switch-rus {
    background-color: blue;
    color: aliceblue;
}

.switch-eng {
    background-color: rgb(160, 160, 255);
    color: black;
}

.switch-label {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1vw;
    font-size: 1vw;
}

.whatsapp_float {
    display: inline-block;
}

.whatsapp-icon {
    width: 3vw;
}

.back-rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20vw;
    background-color: rgb(89, 214, 255);
    box-shadow: 0 0 20px gray;
    z-index: -10;
}

.back-header {
    width: 100vw;
    height: 5vw;
    padding-left: 80vw;
}

.main_card {
    width: 80vw;
    border: 3px dotted black;
    margin: auto;
    margin-top: 5vw;
    background-color: white;
    box-shadow: 0 0 0px gray;
}

@media screen and (max-width: 500px) {
    .img_main {
        width: 60vw;
    }

}

.landing_main {
    background: linear-gradient(130deg, black, rgb(21, 21, 21));
    height: 100vh;
}

/* Landing letters */

@keyframes letter_wobble {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }

    25% {
        transform: matrix(1, 0, 0, 1.5, 0, 0);
    }

    50% {
        transform: matrix(1, 0, 0, 0.5, 0, 0);
    }

    75% {
        transform: matrix(1, 0, 0, 1.2, 0, 0);
    }

    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}

.letters {
    color: white;
}

.letter {
    display: inline-block;
    font-size: 106px;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.letter_wiggle {
    color: aqua;
    animation-name: letter_wobble;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.88, 0.03, 0.17, 1);
}

/* Circle language switch  */

.lang_container {
    display: inline-block;
}

@keyframes switch_glow {
    0% {
        box-shadow: 0 0 5px 0px aqua;
    }

    50% {
        box-shadow: 0 0 15px 0px aqua;
    }

    100% {
        box-shadow: 0 0 5px 0px aqua;
    }   
}

.lang_circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    cursor: pointer;
    background-color: aqua;
    background-image: url('../../public/russia.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 1s;
    animation-name: switch_glow;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.86, 0.6, 0.36, 0.6);
}

.lang_circle_rotate {
    background-image: url('../../public/uk.png');
    transform: rotate(360deg);
}